* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: white; }

/*Menu*/
.navbar {
  background: black; }

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500; }

.nav-link:hover {
  color: violet; }

.navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.8em;
  font-weight: 500;
  color: white; }

.navbar-brand:hover {
  color: violet; }

ul {
  list-style-type: none; }

.navbar-toggler span {
  display: block;
  width: 20px;
  height: 15px;
  border: 10px;
  background: #d84cd8;
  border-radius: 20px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 1.2rem;
  font-size: 1.1rem;
  position: relative; }

.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #c749b6;
  color: violet; }

/*Fin del Menu*/
/*INDEX.HTML */
.title__titulo {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5px;
  animation: pulse;
  animation-duration: 1s;
  padding: 5px; }

.subtituloIndex__subtitulo {
  margin-top: 10px;
  margin-left: 7px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 2em;
  padding: 5px; }

.descripcionIndex__descripcion {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-top: 5px;
  margin-left: 0px;
  font-size: 1em;
  justify-content: left;
  padding-top: 3px; }

.descripcionIndex__descripciones {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 1em;
  justify-content: left;
  line-height: 28px;
  margin-top: 0px; }

.descripcionIndex__descripcionEmpleos {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-top: 10px;
  margin-left: 0px;
  font-size: 1em;
  justify-content: left;
  line-height: 28px; }

.descripcionIndex__segundoTitulo {
  color: black; }

.descripcionImage__titleImage {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px; }

.descripcionImage__descripcion {
  color: black;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
  line-height: 30px; }

.container__text {
  color: white; }

/*FOOTER*/
.site-footer {
  padding: 2em 0;
  background: black;
  font-size: 14px;
  color: white; }

.site-footer p:last-child {
  margin-bottom: 0; }

.site-footer a {
  color: #d8c1c1;
  border-bottom: 1px solid transparent; }

.site-footer a:hover {
  color: #00c3ff; }

.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: .05em;
  color: #e734e7; }

.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px; }

.footer-social {
  list-style: none; }

/*Fin del footer*/
/*FIN DEL INDEX.HTML*/
/*NOSOTROS*/
.descripcionNosotros__sub {
  font-size: 1.7em;
  color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
  background-color: lightsteelblue; }

.descripcionNosotros__descripcion {
  color: black;
  padding: 5px;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: left; }

.iframe {
  text-align: center; }

.container__textNosotros {
  color: white; }

/*FIN DE NOSOTROS*/
/*Asistencia*/
.titulo__asistencia {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5px;
  animation: pulse;
  animation-duration: 1s;
  padding: 5px; }

.textoSuperior__subtitulo {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  padding-bottom: 10px;
  text-align: center;
  color: white;
  margin: 8px;
  margin-top: 10px; }

.textoSuperior__descripcion {
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  margin: 4px; }

.descripcionAsistencia__tercerTitulo {
  margin-top: 10px;
  padding: 3px;
  color: royalblue;
  background-color: whitesmoke; }

.descripcionAsistencia__cuartoTitulo {
  margin-top: 10px;
  padding: 4px;
  color: royalblue;
  font-family: Arial, Helvetica, sans-serif; }

.descripcionAsistencia__parrafo {
  margin-top: 10px;
  padding: 4px;
  font-size: 1.1em;
  font-style: oblique; }

/*Finde Asistencia*/
/*Que estudiar*/
.queEstudiar__tituloTecnologia {
  font-size: 2em;
  margin-top: 10px;
  padding: 5px 40px 0px 20px; }

.queEstudiar__descripcionTecnologia {
  font-size: 1.3em;
  margin-top: 10px;
  padding: 5px 40px 0px 20px; }

.carreras__descripcionImage {
  margin-top: 10px;
  padding: 5px 40px 0px 20px;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.carreras__subtituloTecnologia {
  margin-top: 10px;
  padding: 5px 40px 0px 20px;
  color: teal; }

.carreras__descripcionesTecnologia {
  margin-top: 10px;
  padding: 5px 40px 0px 20px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: unset; }

/*Fin de Que Estudiar*/
/*Contacto*/
.contacto {
  background-image: url(../img/tecnologia-futuro-y-nuevos-empleos-880-min.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

.contacto__formulario {
  color: black;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: black;
  color: white;
  padding: 15px; }

#boton:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

/*fin de Contacto*/
