* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: white; }


/*MENU*/

.navbar{
  background: black;
}


 .nav-link{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-link:hover{
  color: violet;
}

.navbar-brand{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.8em;
  font-weight: 500;
  color: whitesmoke;
}

.navbar-brand:hover{
  color: violet;
}

ul{
  list-style-type: none;
}
  
.navbar-toggler span{
  display: block;
  width: 20px;
  height: 15px;
  border: 10px;
  background: rgb(216, 76, 216);
  border-radius: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 1rem 1.2rem;
  font-size: 1.1rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
  border-top: 4px solid #c749b6;
  color: violet;
}

/*Fin del Menu*/


/*INDEX.HTML */
.title__titulo {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5px;
  animation: pulse;
  animation-duration: 1s;
  padding: 5px; }

.subtituloIndex__subtitulo {
  margin-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: left;
  font-size: 2em;
  padding: 5px; }

.descripcionIndex__descripcion {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-top: 10px;
  font-size: 1em;
  justify-content: left;
  padding: 5px; }

.descripcionIndex__segundoTitulo {
  color: black;
  padding: 5px; }

.descripcionImage__titleImage {
  color: black;
  padding: 5px; }

.descripcionImage__descripcion {
  color: black;
  padding: 5px;
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.container__text {
  color: white; }

/*FIN DEL INDEX.HTML*/
/*NOSOTROS*/
.descripcionNosotros__sub {
  font-size: 1.7em;
  color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
  background-color: lightsteelblue; }

.descripcionNosotros__descripcion {
  color: black;
  padding: 5px;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: left; }

.iframe {
  text-align: center; }

.container__textNosotros {
  color: white; }

/*FIN DE NOSOTROS*/
/*Asistencia*/
.titulo__asistencia {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5px;
  animation: pulse;
  animation-duration: 1s;
  padding: 5px; }

.textoSuperior__subtitulo {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  padding-bottom: 10px;
  text-align: center;
  color: white;
  margin: 8px;
  margin-top: 10px; }

.textoSuperior__descripcion {
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  margin: 4px; }

.descripcionAsistencia__tercerTitulo {
  margin-top: 10px;
  padding: 3px;
  color: royalblue;
  background-color: whitesmoke; }

.descripcionAsistencia__cuartoTitulo {
  margin-top: 10px;
  padding: 4px;
  color: royalblue;
  font-family: Arial, Helvetica, sans-serif; }

.descripcionAsistencia__parrafo {
  margin-top: 10px;
  padding: 4px;
  font-size: 1.1em;
  font-style: oblique; }

/*Finde Asistencia*/
/*Que estudiar*/
